:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;  /* 텍스트 블록 줄 간격 */

  text-align: center;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100vw;
  min-height: 100vh;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}